<header>
  <nav class="navbar navbar-expand-md p-3 navbar-dark bg-success">
    <a class="navbar-brand " href="/urls">ResourceWall</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>

        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>

        <form class="row g-3" action="/urls" method="POST">
          <div class="col-auto row-auto">
            <label>Search Bar</label>
          </div>
          <div class="col-auto">
            <input type="text" id="searchInput" name="searchInput" placeholder="title, url, category" class="form-control"
              style="width:30rem">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Search</button>
          </div>
        </form>
      </div>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link">Add New URL</a>
        <form class="form-inline" action="/logout" method="POST">
          <button type="submit" class="btn btn-outline-dark ">Logout</button>
        </form>
        <a class="nav-item nav-link">User</a>
      </div>
    </div>


  </nav>

</header>
