<!DOCTYPE html>
<html lang="en">
  
<head>
  
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/search.css" />

  <script defer type="text/javascript" src="/scripts/search-resources.js"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  
  <title>Search</title>
</head>

<header>
  <%- include('partials/_header') %>
</header>

<body>

  <form class="search-form">
    <label for="search-input" class="search-text">Search Resources:</label>
    <input type="search" id="search-input" placeholder="  Title, URL, Category">
    <button class="btn btn-danger">Submit</button>
  </form>
  <div id="error-message-container"></div>

  <div class="container" id="results-container"></div>


  
</body>

</html>