html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-size: 20px;
}

$brandColor: rgba(168,0,37,255); 
$bgSecondaryColor: rgb(255, 231, 231);

body {
  background-color: #ffffff;
  height: 100%;
  width: 100%;

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    display: flex;
    background-color: $brandColor;
    color: #fff;
    width: 85%;
    border-radius: 50px;
    height: 4.7rem;
    align-items: center; 
    justify-content: center;
    padding: 0.2rem;
  }
}

#tags-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 20px;
  padding: 10px;
  height: 80%;
  width: 60%;
  margin-top: 1%;
  // line-height: 2em;

  .cat-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $bgSecondaryColor;
    border-radius: 15px;
    margin: 1rem;
    width: 100%;
    height: 5rem;
    padding-top: 1rem;
    cursor: pointer;
    
    &:hover {
      box-shadow: 5px 5px rgba(0, 0, 255, .2);
    }

    &:active {
      transform: translateY(3px);
    } 
  }
  .tag-element {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 0;
    width: 60%;

    p {
      font-size: 1.5rem;
      font-weight: 700;
      color: $brandColor;
    }
  }
  .like {
    display: inline;
    float: left;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-bottom: 0; 
  }

  .rating {
    display: inline;
    float: left;
    font-size: 1.2rem; 
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 0; 
  }
}
