header #navbar-header {
  display: flex;
  flex-direction: row;
  width: auto;
  background-color: #fff;
  padding: 1rem;
  
  .navbar-brand {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  #RW-logo {
    display: flex;
    width: 5rem;
    height: auto;
    margin-right: 1rem;  
  }

  #RW-Brand-Text {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: rgba(168,0,37,255)
  }
}



.navbar-toggler {
    color: lightblue;
}

.navbar-nav .nav-item {
    color: black;
  
}