html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$brandColor: rgba(168,0,37,255); 
$bgSecondaryColor: rgb(255, 231, 231);

body {
  display: flex;
  justify-content: flex-start;
  align-items: normal;
  background-color: #F0FFFF;
  height: 100%;
  width: 100%;
}

.resource-container {
  height: 90%;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  justify-content: space-between;

  .content-container {
    display: flex;
    flex-direction: column;
    height: 500px;  
    align-items: flex-start;
    background-color: rgb(240, 240, 240);
    padding: 1rem; 
    border-radius: 15px;
    margin-top: 5%;
    width: 50%;

    h1 {
      color: rgba(168,0,37,255);
    }
  }
}

#comment-text {
  border-radius: 10px;
  padding: 10px;
}

#url-list {
  padding-left: none; 
}

.content-container{
  
  .resource-list {
    display: flex;
  } 



  li {
    list-style-type: none;
    justify-content: flex-start;
  

    a {
      text-decoration: none;
      font-weight: 600;
      color: rgb(6, 11, 35);
      justify-content: flex-start; 
    }
  }
}

.comments-container {
  margin-top: 5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
}

textarea {
  width: 100%;
}

.content-description {
  border-radius: 10px;
  background-color: white;
  width: 100%;
  height: 3.5rem;
  padding: 2%;
  margin-bottom: 1rem;
}

.tags-container {
  display: flex;
  flex-direction: row;

  .btn-outline-danger {
    margin-right: 2rem; 
  }
  
  .star-rating {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: center; 
    user-select: none;
    margin: 0;
    padding: 0;
    align-items: center; 
    
    .star {
      color: rgb(255, 153, 0);
      font-size: 1.8rem;
      background-color: unset;
      border: none;

      :hover {
        cursor: pointer;
      }
    }

    .current-rating {
      margin-left: 1rem; 
      margin-bottom: none; 
      width: 50%;
      
    }


  }


  .btn-danger:active {
    transform: translateY(3px);
  }


}

.new-comment {
  border: 2px solid black;
  border-radius: 10px;
  padding: 2%;
  margin-top: 3%;
}

.comment-text {
  border-radius: 10px;
  padding: 25px;
}

.btn-primary:active {
  transform: translateY(3px);
}

.btn-success:active {
  transform: translateY(3px);
}
