html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F0FFFF;
  height: 100%;
  width: 100%;
}

.resource-container {
  height: 90%;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  justify-content: space-between;
}

#comment-text {
  border-radius: 10px;
  padding: 10px;
}
.content-container{
 margin-top: 5%;
 width: 50%;
 li {
  list-style-type: none;
  a {
    text-decoration: none;
    text-transform: uppercase;
  }
 }
}

.comments-container {
  margin-top: 5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
}

textarea {
  width: 100%;
}

.content-description {
  border: 2px solid black;
  border-radius: 10px;
  padding: 2%;
}

.tags-container {
  .star-rating {
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .star {
      color: rgb(255, 153, 0);
      font-size: 2rem;
      background-color: unset;
      border: none;

      :hover {
        cursor: pointer;
      }
    }
  }

  // button {
  //   margin-top: 2%;
  //   margin-right: 5%;
  //   border-radius: 5px;
  //   background-color: rgba(168,0,37,255);
  //   font-weight: 600;
  //   color: white;
  //   border-color: none;
  // }

  .btn-danger:active {
    transform: translateY(3px);
  } 


}

.new-comment {
  border: 2px solid black;
  border-radius: 10px;
  padding: 2%;
  margin-top: 3%;
}

.comment-text {
  border-radius: 10px;
  padding: 25px;
}

.btn-primary:active {
  transform: translateY(3px);
} 

.btn-success:active {
  transform: translateY(3px);
} 