
body {
  display: flex;
  width: 100%;
  align-items: normal;
  justify-content: flex-start;
  margin-left: 1rem; 
}

.search-form {
  display: flex;
  width: 100%;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  
  #search-input {
    border-radius: 5px;
    margin: 0.5rem;
    height: 2.3rem;

  }
  
  .search-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 2rem;
  }

  button:active {
    transform: translateY(3px);
  } 

  button .border {
    border-radius: 10px;
  }

  #results-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    width: 100%;
  }


}

.search-results {
  margin: 2rem; 
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(168,0,37,255);
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
} 

.search-results:hover {
    box-shadow: 5px 5px rgba(0, 0, 255, .2);
}

.search-results:active {
  transform: translateY(3px);
} 

