$brandColor: rgba(168,0,37,255); 
$bgSecondaryColor: rgb(255, 231, 231);

body {
  display: flex;
  width: 100%;
  align-items: normal;
  justify-content: flex-start;
  margin-left: 1rem; 

  #error-message-container {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    color: $brandColor;
    font-size: 1.5rem;
    font-weight: 600;
    place-items: center
  }
}

#search-heading  {
  display: flex;
  justify-content: center;
  background-color: $brandColor;
  font-size: 3rem;
  color: #fff;
  width: 85%;
  border-radius: 30px;
  height: 4.5rem; 

}


.search-form {
  display: flex;
  width: 100%;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  
  #search-input {
    border-radius: 5px;
    margin: 0.5rem;
    height: 2.3rem;

  }
  
  .search-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 2rem;
  }

  button:active {
    transform: translateY(3px);
  } 

  button .border {
    border-radius: 10px;
  }

  #results-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    width: 100%;
  }


}

.search-results {
  margin: 2rem; 
  padding: 1rem;
  border-radius: 10px;
  // background-color: rgba(168,0,37,255);
  background-color: rgb(255, 231, 231);
  font-weight: 600;
  cursor: pointer;
  color: rgb(79, 79, 79);
  text-decoration: none;
} 

.search-results:hover {
    box-shadow: 5px 5px rgba(0, 0, 255, .2);
}

.search-results:active {
  transform: translateY(3px);
} 

